<div id="apresentacao" class="section height-100 page-header" style="background-image: url('assets/img/bg-apresentacao.svg'); margin-top: -5px;">
    <div class="container">
        <div class="tim-title">
            <h2 class="">Seja bem vindo à Bíblia Esperança Real!</h2>
            <p>
                Essa é uma ferramenta que auxiliará você a ter comunhão com Deus através do estudo da Sua palavra.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <!--div class="col-md-4 ml-4 mr-4 pl-4 pr-4">
                <img src="assets/img/faces/clem-onojeghuo-3.jpg" style="width: 75%; margin:auto; display: block" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                <div class="" style="background-color: antiquewhite; width: 100%; min-height: 400px; margin-top: -85px; padding: 90px 15px 15px 15px; border-radius: 5px;">texto</div>
            </div-->
        </div>
    </div>
</div>