<div id="apresentacao" class="section search height-100">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-9">
                    <h3 class="title">Apresentação</h3>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3 ml-4 mr-4 pl-4 pr-4">
                <img src="assets/img/faces/clem-onojeghuo-3.jpg" style="width: 75%; margin:auto; display: block" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                <div class="" style="background-color: antiquewhite; width: 100%; min-height: 400px; margin-top: -85px; padding: 90px 15px 15px 15px; border-radius: 5px;">texto</div>
            </div>
            <div class="col-md-3 ml-4 mr-4 pl-4 pr-4">
                <img src="assets/img/faces/clem-onojeghuo-3.jpg" style="width: 75%; margin:auto; display: block" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                <div class="" style="background-color: antiquewhite; width: 100%; min-height: 400px; margin-top: -85px; padding: 90px 15px 15px 15px; border-radius: 5px;">texto</div>
            </div>
            <div class="col-md-3 ml-4 mr-4 pl-4 pr-4">
                <img src="assets/img/faces/clem-onojeghuo-3.jpg" style="width: 75%; margin:auto; display: block" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                <div class="" style="background-color: antiquewhite; width: 100%; min-height: 400px; margin-top: -85px; padding: 90px 15px 15px 15px; border-radius: 5px;">texto</div>
            </div>
        </div>
    </div>
</div>