<div id="sticky">
  <ul>
    <li>
      <a mat-button (click)="modoDia()" data-toggle="tooltip" title="Modo Dia"><i class="fas fa-sun"></i></a>
    </li>
    <li>
      <a mat-button (click)="modoNoite()" data-toggle="tooltip" title="Modo Noite"><i class="fas fa-moon"></i></a>
    </li>
    <li>
      <a mat-button routerLink="." data-toggle="tooltip" title="Aumentar Fonte"><i class="fas fa-search-plus"></i></a>
    </li>
    <li>
      <a mat-button routerLink="." data-toggle="tooltip" title="Diminuir Fonte"><i class="fas fa-search-minus"></i></a>
    </li>
    <li>
      <a mat-button routerLink="." data-toggle="tooltip" title="Alterar Versão"><i class="fas fa-exchange-alt"></i></a>
    </li>
    <li>
      <a mat-button routerLink="." data-toggle="tooltip" title="Marcar capítulo como lido"><i class="fas fa-check-square"></i></a>
    </li>
  </ul>
</div>
