<section id="menu_" class="menu-wrapper">
  <div class="main clearfix">
    <nav id="menu" class="nav">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-home"></i>
            </span>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-search"></i>
            </span>
            <span>Índice</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-portfolio"></i>
            </span>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-blog"></i>
            </span>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-team"></i>
            </span>
            <span>The team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-contact"></i>
            </span>
            <span>Login</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
