<div class="page-header section-dark" style="background-image: url('assets/img/lighthouse.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div>
              <h1 class="presentation-title">ER</h1>

          </div>

          <h2 class="presentation-subtitle text-center">{{verso}}</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

</div>