<mat-horizontal-stepper [linear]="isLinear" #stepper>
  
  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Meditação</ng-template>
      
      
      <div class="mat-elevation-z1">
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="ano">
              <th mat-header-cell *matHeaderCellDef> Ano </th>
              <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="permanente">
              <th mat-header-cell *matHeaderCellDef> Permanente </th>
              <td mat-cell *matCellDef="let element"> {{element.permanente}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="ativo">
              <th mat-header-cell *matHeaderCellDef> Ativo </th>
              <td mat-cell *matCellDef="let element"> {{element.ativo}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>


    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>