<div id="dashboard" class="section section-test">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <h3 class="" data-wow-delay="300ms">Olá, {{nomeUsuario}}</h3>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-default float-right" (click)="logout()"><i class="fa fa-exit"></i>Sair</button>
            </div>
        </div>

        <div class="nav-tabs-navigation mt-4">
            <div class="nav-tabs-wrapper dashboard-tabs">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Anotações</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container-fluid">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4 mt-4">
                                        <form class="register-form">
                                            <label class="float-left pt-2">Título</label>
                                            <div class="input-group form-group-no-border">
                                                <input type="text" class="form-control" name="primeiroNome" [(ngModel)]="primeiroNome">
                                            </div>
                                            <label class="float-left pt-2">Comentário</label>
                                            <div class="input-group form-group-no-border">
                                                <textarea class="form-control" name="primeiroNome" [(ngModel)]="primeiroNome"></textarea>
                                            </div>
                                            <button class="btn btn-success btn-block mt-4" (click)="logon()">Inserir Comentário</button>
                                        </form>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="float-right mb-3 mt-3">
                                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                                <option [ngValue]="5">5 itens por página</option>
                                                <option [ngValue]="10">10 itens por página</option>
                                                <option [ngValue]="15">15 itens por página</option>
                                            </select>
                                        </div>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Título</th>
                                                    <th scope="col">Anotação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let country of countries">
                                                    <td scope="row">{{ country.id }}</td>
                                                    <td scope="row">{{ country.id }}</td>
                                                    <td>
                                                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px"> {{ country.name }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Plano de Leitura</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container-fluid">
                                <div class="row justify-content-md-center">
                                    <div class="col col-md-11 mt-4">
                                        <ejs-schedule 
                                            [eventSettings]="eventData" 
                                            [selectedDate]="currentDate" 
                                            timezone="America/Bahia"
                                            [currentView]="newViewMode">
                                        </ejs-schedule>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Minha Conta</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col col-md-6">
                                        <form class="register-form">
                                            <label class="float-left pt-2">Primeiro Nome</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="primeiroNome" [(ngModel)]="primeiroNome">
                                            </div>

                                            <label class="float-left pt-2">Último Nome</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="ultimoNome" [(ngModel)]="ultimoNome">
                                            </div>

                                            <label class="float-left pt-2">Email</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-email-85"></i></span>
                                                </div>

                                                <input type="text" name="email" class="form-control" [(ngModel)]="email">
                                            </div>
                                            <button class="btn btn-success btn-block mt-4" (click)="logon()">Alterar Dados</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Alterar Senha</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col col-md-6">
                                        <form class="register-form">
                                            <label class="float-left pt-2">Senha Atual</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="senha" class="form-control" [(ngModel)]="senha">
                                            </div>
                                            <label class="float-left pt-2">Nova Senha</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="senha" class="form-control" [(ngModel)]="senha">
                                            </div>
                                            <label class="float-left pt-2">Repetir Nova Senha</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="senha" class="form-control" [(ngModel)]="senha">
                                            </div>

                                            <button class="btn btn-success btn-block mt-4" (click)="logon()">Alterar Senha</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>