<div id="dashboard" class="section section-test" style="margin-top: 75px; padding: 0 0 0px 0;">
    <div class="container-fluid" style="background-color: #F5593D; padding: 0px 15px; margin-top: -75px">
        <div class="row justify-content-md-center">
            <div class="col col-md-9">
                <h3 data-wow-delay="300ms" class="title text-white">Olá, {{nomeUsuario}}</h3>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-default float-right mt-4" (click)="logout()"><i class="fa fa-sign-out"></i>Sair</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="nav-tabs-navigation mt-4">
            <div class="nav-tabs-wrapper dashboard-tabs">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Histórico de Leitura</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container-fluid">
                                <div class="row justify-content-md-center mt-4">
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <circle-progress [percent]="statusPorcentagem" [radius]="30" [outerStrokeWidth]="1" [innerStrokeWidth]="2" [outerStrokeColor]="'#922e3f'" [innerStrokeColor]="'#191B1C'" [animation]="true" [animationDuration]="1000" [responsive]="true" [titleColor]="'#D8D8DA'"
                                            [unitsColor]="'#D8D8DA'" [subtitleColor]="'#D8D8DA'" [showSubtitle]="false">
                                        </circle-progress>
                                    </div>
                                    <div *ngIf="!exibirGridHistorico" class="pt-4 col-md-9 col-sm-8 col-xs-12">
                                        <h4 class="mt-4">
                                            Você ainda não possui histórico para exibir. Conclua os capítulos e clique no botão "Marcar capítulo como lido".
                                        </h4>
                                    </div>
                                    <div *ngIf="exibirGridHistorico" class="col-md-9 col-sm-8 col-xs-12">
                                        <div class="row">
                                            <div class="mt-4 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                <span class="float-left text-white">
                                                    SEU PROGRESSO: Até o momento você leu {{statusCapitulo}} capítulos dos 1.189 que compõem a Bíblia Sagrada.
                                                </span>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <div class="float-right mb-3 mt-3">
                                                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                                        <option [ngValue]="5">5 itens por página</option>
                                                        <option [ngValue]="10">10 itens por página</option>
                                                        <option [ngValue]="15">15 itens por página</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Data</th>
                                                            <th scope="col">Quantidade</th>
                                                            <th scope="col">Capítulos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let l of leituraList | paginate: { id:'paginator-dashboard', itemsPerPage: pageSize, currentPage: page, totalItems: collectionSize}">
                                                            <td scope="row">{{l.dataHistorico}}</td>
                                                            <td scope="row">{{l.quantidade}}</td>
                                                            <td scope="row" style="text-align: left;">{{l.textos}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ngb-pagination id="paginator-dashboard" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="page = $event"></ngb-pagination>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Alterar Senha</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col col-md-6">
                                        <form class="register-form">
                                            <label class="float-left pt-2">Senha Atual</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="senha" class="form-control" [(ngModel)]="senha">
                                            </div>
                                            <label class="float-left pt-2">Nova Senha</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="novaSenha" class="form-control" [(ngModel)]="novaSenha">
                                            </div>
                                            <label class="float-left pt-2">Repetir Nova Senha</label>
                                            <div class="input-group form-group-no-border">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                                </div>
                                                <input type="password" name="novaSenhaConfirmacao" class="form-control" [(ngModel)]="novaSenhaConfirmacao">
                                            </div>

                                            <button class="btn btn-success btn-block mt-4" (click)="alterarSenha()">Alterar Senha</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>