<div class="section section-dark" id="login" style="margin-top: -70px; padding: 0px;">
    <div class="page-header" style="background-image: url('assets/img/login-image.jpg');">
        <div class="filter"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">{{tituloLogin}}</h3>

                        <form class="register-form">
                            <label *ngIf="!esqueciSenha && !possuiCadastro">Primeiro Nome</label>
                            <div class="input-group form-group-no-border" *ngIf="!esqueciSenha && !possuiCadastro">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" name="primeiroNome" [(ngModel)]="primeiroNome">
                            </div>

                            <label *ngIf="!esqueciSenha && !possuiCadastro">Último Nome</label>
                            <div class="input-group form-group-no-border" *ngIf="!esqueciSenha && !possuiCadastro">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" name="ultimoNome" [(ngModel)]="ultimoNome">
                            </div>

                            <label>Email</label>
                            <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>

                                <input type="text" name="email" class="form-control" [(ngModel)]="email">
                            </div>

                            <label *ngIf="!esqueciSenha">Senha</label>
                            <div class="input-group form-group-no-border" *ngIf="!esqueciSenha">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" name="senha" class="form-control" [(ngModel)]="senha">
                            </div>

                            <label *ngIf="!esqueciSenha && !possuiCadastro">Repetir Senha</label>
                            <div class="input-group form-group-no-border" *ngIf="!esqueciSenha && !possuiCadastro">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" name="senhaConfirmacao" class="form-control" [(ngModel)]="senhaConfirmacao">
                            </div>


                            <button *ngIf="!esqueciSenha && possuiCadastro" class="btn btn-success btn-block btn-round" (click)="logon()">Entrar</button>

                            <!--button *ngIf="!esqueciSenha && possuiCadastro" class="btn btn-primary btn-block btn-round" (click)="toggleEsqueciSenha()">Esqueci a senha</button-->
                            <button *ngIf="!esqueciSenha && possuiCadastro" class="btn btn-danger btn-block btn-round" (click)="togglePossuiCadastro()">Não possui login? Cadastre-se!</button>

                            <button *ngIf="esqueciSenha && possuiCadastro" class="btn btn-success btn-block btn-round" (click)="redefinirSenha()">Redefinir senha</button>
                            <button *ngIf="esqueciSenha && possuiCadastro" class="btn btn-primary btn-block btn-round" (click)="voltar('redefinirSenha')">Voltar</button>

                            <button *ngIf="!esqueciSenha && !possuiCadastro" class="btn btn-success btn-block btn-round" (click)="cadastrar()">Cadastrar</button>
                            <button *ngIf="!esqueciSenha && !possuiCadastro" class="btn btn-primary btn-block btn-round" (click)="voltar('cadastro')">Voltar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>