@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    width: 100%;
    color: #555;
    background: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding: 20px 20px 0 20px
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

h4 {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

h2.title {
    font-size: 36px;
    color: #474747;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    -webkit-animation: 3s restart;
    animation: 3s restart;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

a {
    color: #c0392b;
}

img {
    max-width: 100%;
}

.image-section {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  /*  background-color: #232222;*/
}

.go-down-icon {
    margin-top: 60px;
    color: #fff;
    font-size: 20px;
    -webkit-animation: bounce-arrow .85s linear infinite;
    animation: bounce-arrow .85s linear infinite;
    transition-delay: 0.15s;
}

.go-down-icon a {
    color: #fff;
    visibility: visible;
}

.wrap {
    height: 100%;
    width: 100%;
}

.top-alert-bar {
    background: #3CA7CC;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2
}

.top-alert-bar .alert {
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 0
}

.top-alert-bar i {
    line-height: 34px;
    vertical-align: middle;
    margin-right: 8px
}

.top-alert-bar button.close {
    opacity: 1
}

.left-section {
    margin: 28% auto 0;
    position: relative
}

.big-title h2 {
    font-size: 48px;
    color: #fff;
    line-height: 52px;
    font-weight: 300;
    transition-property: opacity, transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.big-title p {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 400
}

.play-icon span {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #cfcfcf;
    margin-top: 50px;
    padding-top: 30px
}

.app-store-btn {
    margin-top: 50px
}

.app-store-btn img {
    width: 200px;
    height: 60px
}

.go-down-icon {
    margin-top: 60px;
    color: #fff;
    font-size: 20px;
    -webkit-animation: bounce-arrow .85s linear infinite;
    animation: bounce-arrow .85s linear infinite;
    transition-delay: 0.15s;
}

.go-down-icon a {
    color: #fff;
    visibility: visible
}

.hero-content {
    display: table;
    position: relative;
    height: 100%;
    text-align: center;
    width: 100%
}

.hero-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle
}

.left-section {
    margin-left: 22%;
}

.hero-title {
    font-size: 60px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 30px
}

.image-content p {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 36px
}

.right-section {
    display: table;
    height: 100%;
    width: 50%;
    position: relative
}

.social-links li span {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    top: -9px;
    left: 5px;
    padding: 0 2px
}

.social-links li {
    list-style: none;
    display: inline-block;
    padding-left: 20px
}

.pixel-popover .popover {
    position: relative;
    display: block;
    margin-top: 20px;
    max-width: 185px;
    text-align: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.65)
}

.pixel-popover .popover .popover-content {
    opacity: 1 !important
}

.popover.bottom > .arrow::after {
    border-bottom-color: #000;
    opacity: 0.65
}

.hero-bottom-social {
    bottom: 4%;
    left: 1%;
    position: absolute;
    margin-bottom: 30px
}

.hero-bottom-social .social-links li span {
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease
}

.social-stats {
    top: -7px;
    left: 5px
}

.social-stats:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    height: 3px;
    width: 0;
    background: white;
    transition: width 0.5s ease, background-color 0.5s ease
}

.line.social-stats:after {
    width: 100%
}



@media (max-width: 575.98px) {  }

@media (min-width: 576px) and (max-width: 767.98px) {  }

@media (min-width: 768px) and (max-width: 991.98px) { }

@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) {  }