<header id="home">
  <section class="header-nav">
    <div class="logo">
      <a id="logo" href="#"><img src="assets/img/er-logo-dark.svg" alt="logo"></a>
    </div>
    <div class="header-hamburguer">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>
  </section>
</header>


  








<!--section class="search">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="filtros">
      
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">Pesquisar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-->
