<section id="login" class="share-love clearfix padding-top100 padding-bottom130">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title share-love-title text-center">
          <h2 class="title wow fadeInUp" data-wow-delay="300ms">Login</h2>

          <p class="grey wow fadeInUp" data-wow-delay="300ms">
            Let the world know about our awesome app
          </p>
        </div>
      </div>
    </div>
    <div class="row padding-top100 padding-bottom130">
      <div class="col-md-6 wow fadeInUp">
      
        <form class="example-form">
          <div class="input-login">
            <mat-form-field class="example-full-width">
              <input name="email" [formControl]="email" type="text" matInput placeholder="email">
            </mat-form-field>
          </div>
          <div class="input-login">
            <mat-form-field class="example-full-width">
              <input type="password" [formControl]="senha" matInput placeholder="Senha">
            </mat-form-field>
          </div>
          <button class="bot-login" (click)="login()" mat-button>Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
