<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" style="height: 70px;">
    <div class="container">
        <div class="navbar-translate pt-2 pr-4 pb-3 pl-4">
            <a pageScroll [pageScrollOffset]="70" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#home"><img src="assets/img/er-logo.svg"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#home">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#pesquisa">pesquisa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#indice">índice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#leitura">bíblia</a>
                </li>
                <li class="nav-item" *ngIf="!isLogged()">
                    <a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#dashboard" *ngIf="isLogged()">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>