@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    width: 100%;
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
   /* padding: 0 20px 0 20px*/
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
