<section class="parallax-section dark-bg sec-half parallax-sec-half-left" data-scrollax-parent="true" id="sec4">
    <div class="bg par-elem"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="section-title">
            <h2>My   Own <span> Developer's </span> and <br> Design   Skills  </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat.  </p>
            <div class="horizonral-subtitle"><span>Power</span></div>
        </div>
    </div>
</section>