
.red {
    font-weight: bold;
}

.livro-wrapper {
    width: 100%;
    height: 200px;
    float: left;
    text-align: center;
    border: 1px solid #999;
    background-color: #ccc;
    padding: 10px;
    border-radius: 3px;
}

#sticky {
    position: sticky;
    position: -webkit-sticky;
    background: #f83d23;
    width: 60px;
    min-height: 100px;
    left: -5px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #000;
    color: #fff;
    padding: 10px;
}

.white {
    background-color: #eee;
}

.dark {
    background-color: #333;
    color: #dedede;
}



.menu-leitura-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 32, 45, 0.9);
    padding: 1em 2em;
    position: fixed;
    display: table;
    z-index: 999997;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.menu-leitura {
    background-color: #51e28e;
    list-style: none;
    height: auto;
    width: 660px;
    min-height: 500px;
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    z-index: 99998;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s;
}

.menu-inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
}

.livro-info {
    position: absolute;
    top: 50px;
    font-size: 14px;
    color: black;
}