<div id="indice" class="section">
    <div class="container">
        <div class="tim-title">
            <h2>Índice de Livros</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/img/2277399.jpg">
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <ngb-tabset [justify]="'center'">
                                    <ngb-tab title="Velho Testamento" (click)="teste()">
                                        <ng-template ngbTabContent>
                                            <div ngbDropdown display="static" class="col-md-12">
                                                <button class="btn btn-outline-primary dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>{{(selecaoVelhoTestamento.nome)
                          ? selecaoVelhoTestamento.nome : 'selecione'}}</button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-books">
                                                    <button ngbDropdownItem *ngFor="let livro of velhoTestamento" (click)="onSelectChange(livro, 1)">{{livro.nome}}</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Novo Testamento">
                                        <ng-template ngbTabContent>
                                            <div ngbDropdown display="static" class="col-md-12">
                                                <button class="btn btn-outline-success dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>{{(selecaoNovoTestamento.nome)
                          ? selecaoNovoTestamento.nome : 'selecione'}}</button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-books">
                                                    <button ngbDropdownItem *ngFor="let livro of novoTestamento" (click)="onSelectChange(livro, 2)">{{livro.nome}}</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default float-left dropdown-btn-action"><i class="fa fa-info"></i>Informações</button>
                                <button type="button" class="btn btn-success float-left dropdown-btn-action"><i class="fa fa-book-open"></i>Abrir Livro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pesquisa" class="section search">
    <div class="search-header">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <h2 class="title">Pesquisa</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-8 col-md-8">
                    <input type="text" [(ngModel)]="palavraChave" class="form-control form-control-success" placeholder="Palavra-chave" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                </div>
                <div class="col-sm-2 col-md-2">
                    <button type="button" class="btn btn-danger" (click)="pesquisar()"><i class="fa fa-search"></i> Pesquisar</button>
                </div>
            </div>
            <div class="row justify-content-md-center search-count-result" *ngIf="exibirResultado">
                <div class="col-md-10 wrapper-count">
                    <div *ngIf="resultadoPesquisa.length > 0; then pesquisaComResultado else pesquisaSemResultado"></div>
                    <ng-template #pesquisaComResultado>
                        <h3>Sua pesquisa retornou {{resultadoPesquisa.length}} resultado(s).</h3>
                    </ng-template>
                    <ng-template #pesquisaSemResultado>
                        <h3>Sua pesquisa não retornou resultados.</h3>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-dark search-result" *ngIf="resultadoPesquisa.length > 0 && exibirResultado">
    <div class="container">
        <div class="row item" *ngFor="let pesquisa of resultadoPesquisa | paginate: { id:'paginator-pesquisa', itemsPerPage: 10, currentPage: p, totalItems: resultadoPesquisa.length}">
            <div class="col-md-2"><a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#leitura" (pageScrollFinish)="abrirLivro(pesquisa.capitulo, pesquisa.versiculo);">{{pesquisa.nome}}
          {{pesquisa.capitulo}}:{{pesquisa.versiculo}}</a></div>
            <div class="col-md-10">{{pesquisa.texto}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination-wrapper text-center">
                    <ngb-pagination id="paginator-pesquisa" [collectionSize]="resultadoPesquisa.length" [maxSize]="7" [boundaryLinks]="true" (pageChange)="p = $event"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="leitura" class="section">


    <div class="container tim-container">
        <!--Essa seção conterá uma imagem de fundo com o nome do livro e o capítulo selecionado-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title wow fadeIn">
                    <h2 class="title wow fadeInUp" data-toggle="tooltip">{{livroDTO.nome}} {{capitulo}} </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tim-title">
                    <h4>Opções de leitura</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="tim-title">
                            <h5>Modo Noturno</h5>
                        </div>
                        <bSwitch (changeState)="onChangeSwitchState($event)"></bSwitch>
                    </div>
                    <div class="col-md-4">
                        <div class="tim-title">
                            <h5>Tamanho da fonte</h5>
                        </div>
                        <nouislider [connect]="false" [min]="12" [max]="32" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="false" class="slider"></nouislider>
                    </div>
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h5>Versão</h5>
                        </div>
                        <div ngbDropdown display="static" class="col-md-12">
                            <button class="btn btn-outline-success dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>{{(selecaoNovoTestamento.nome)
      ? selecaoNovoTestamento.nome : 'selecione'}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-books">
                                <button ngbDropdownItem *ngFor="let livro of novoTestamento" (click)="onSelectChange(livro, 2)">{{livro.nome}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left wow fadeIn">
                    <p id="leitura_{{cap.versiculo}}" [ngStyle]="{'font-size': fontSize + 'px'}" [ngClass]="(livroPesquisa === livro && capituloPesquisa === capitulo && versiculoPesquisa === cap.versiculo) ? 'red' : ''" *ngFor="let cap of versos | paginate: { id:'paginator-leitura', itemsPerPage: 1, currentPage: capitulo, totalItems: totalItems }">
                        {{cap.versiculo}} - {{cap.texto}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInUp padding-top30 " data-wow-delay="300ms" *ngIf="totalItems > 0">
                    <pagination-controls (pageChange)="nextPage($event)" id="paginator-leitura"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>