<div id="pesquisa" class="section search height-100">
    <div class="search-header">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col col-md-8">
                    <h2 class="title">Pesquisa</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col col-md-6">
                    <input type="text" [(ngModel)]="palavraChave" class="form-control form-control-success" placeholder="Palavra-chave" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                </div>
                <div class="col col-sm-2 col-md-2">
                    <button type="button" class="btn btn-danger" (click)="pesquisar()"><i class="fa fa-search"></i> Pesquisar</button>
                </div>
            </div>
            <div class="search-result mt-4" *ngIf="exibirResultado">
                <div class="row justify-content-md-center">
                    <div *ngIf="resultadoPesquisa.length > 0; then pesquisaComResultado else pesquisaSemResultado"></div>
                    <ng-template #pesquisaComResultado>
                        <div class="col col-md-7 pt-4 pb-3">
                            <h3>Sua pesquisa retornou {{resultadoPesquisa.length}} resultado(s).</h3>
                        </div>
                        <div class="col col-md-1 pt-4 pb-3">
                            <button type="button" class="btn btn-default float-right mt-4" (click)="limpar()"><i class="fa fa-exit"></i>Limpar Pesquisa</button>
                        </div>
                    </ng-template>
                    <ng-template #pesquisaSemResultado>
                        <div class="col col-md-8 pt-4 pb-3">
                            <h3>Sua pesquisa não retornou resultados.</h3>
                        </div>
                    </ng-template>
                </div>
                <div class="row justify-content-md-center" *ngIf="resultadoPesquisa.length > 0 && exibirResultado">
                    <div class="col col-md-8 pt-4 pb-4">
                        <table class="table table-striped">

                            <tbody>
                                <tr *ngFor="let pesquisa of resultadoPesquisa | paginate: { id:'paginator-pesquisa', itemsPerPage: 10, currentPage: p, totalItems: resultadoPesquisa.length}">
                                    <td scope="row">
                                        <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#leitura" (pageScrollFinish)="abrirLivro(pesquisa.capitulo, pesquisa.versiculo);">
                                            {{pesquisa.nome}} {{pesquisa.capitulo}}:{{pesquisa.versiculo}}
                                        </a>
                                    </td>
                                    <td scope="row" style="text-align: left;">{{pesquisa.texto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-md-center" *ngIf="resultadoPesquisa.length > 0 && exibirResultado">
                    <div class="col col-md-8 pb-4">
                        <div class="pagination-wrapper text-center">
                            <ngb-pagination id="paginator-pesquisa" [collectionSize]="resultadoPesquisa.length" [maxSize]="7" [boundaryLinks]="true" [rotate]="true" (pageChange)="p = $event"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="indice" class="section height-100">
    <div class="container">
        <div class="tim-title">
            <h2>Índice de Livros</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/img/2277399.jpg">
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <ngb-tabset [justify]="'center'">
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <div (click)="onTabSelect(1)">Velho Testamento</div>
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="col-md-12">
                                                <select class="custom-select" [(ngModel)]="livro" (change)="onSelectChange()">
                                                    <option value="0">Selecione</option>
                                                    <option *ngFor="let livroVT of velhoTestamento" value="{{livroVT.id}}" >{{livroVT.abreviacao}} - {{livroVT.nome}}</option>
                                                </select>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                        <ng-template ngbTabTitle>
                                            <div (click)="onTabSelect(2)">Novo Testamento</div>
                                        </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="col-md-12">
                                                <select class="custom-select" [(ngModel)]="livro" (change)="onSelectChange()">
                                                    <option value="0">Selecione</option>
                                                    <option *ngFor="let livroNT of novoTestamento" value="{{livroNT.id}}" >{{livroNT.abreviacao}} - {{livroNT.nome}}</option>
                                                </select>
                                            </div>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="podeAbrirLivro; then abrirLivro else abrirMensagemValidacao"></div>
                                <ng-template #abrirLivro>
                                    <button type="button" class="btn btn-default float-left dropdown-btn-action"><i class="fa fa-info"></i>Informações</button>
                                    <button type="button" class="btn btn-success float-left dropdown-btn-action" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#leitura" (pageScrollFinish)="abrirLivroIndice()"><i class="fa fa-book-open"></i>Abrir Livro</button>
                                </ng-template>
                                <ng-template #abrirMensagemValidacao>
                                    <button type="button" class="btn btn-default float-left dropdown-btn-action" placement="bottom" ngbPopover="É necessário selecionar um livro acima." popoverTitle="Alerta"><i class="fa fa-info"></i>Informações</button>
                                    <button type="button" class="btn btn-success float-left dropdown-btn-action" placement="bottom" ngbPopover="É necessário selecionar um livro acima." popoverTitle="Alerta"><i class="fa fa-book-open"></i>Abrir Livro</button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="leitura" class="section">
    <div class="leitura-header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title wow fadeIn">
                        <h2 class="title wow fadeInUp" data-toggle="tooltip">{{livroDTO.nome}} {{capitulo}} </h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="leitura-opcoes-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title" style="margin-bottom: 20px;">
                                    <h3 class="title ">Opções de leitura</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p class="mt-3">Modo Noturno
                                    <span class="ml-2">
                                        <bSwitch (changeState)="onChangeSwitchState($event)"></bSwitch>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-7">
                                <p>Tamanho da Fonte: {{fontSize}}</p>
                                <nouislider [connect]="true" [min]="12" [max]="32" [step]="1" [(ngModel)]="fontSize" [tooltips]="false" class="slider" (ngModelChange)="rangeChanged($event)"></nouislider>
                            </div>
                        </div>
                        <div class="row">
                            <div ngbDropdown display="static" class="mt-4 col-md-12">
                                <select class="custom-select" [(ngModel)]="versao" (change)="onChangeVersao()">
                                    <option *ngFor="let versao_ of versoes" value="{{versao_.id}}" >Versão {{versao_.nome}} ({{versao_.sigla}})</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" [ngClass]="(backgroundClass === 'black') ? 'section-dark' : ''">
        <div class="container">
            <div class="row" *ngIf="usuarioLogado">
                <div class="col-md-12 mb-4">
                    <h6>Percentual de leitura do livro: {{numeroCapitulosLidos}} Capítulo(s) / Total de {{totalItems}} ({{porcentagem}}%)</h6>
                    <ngb-progressbar type="{{tipoProgressBar}}" [max]="totalItems" [value]="numeroCapitulosLidos" [striped]="true" [animated]="true"></ngb-progressbar>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left wow fadeIn">
                        <p id="leitura_{{cap.versiculo}}" [ngStyle]="{'font-size': fontSize + 'px'}" [ngClass]="(livroPesquisa === livro && capituloPesquisa === capitulo && versiculoPesquisa === cap.versiculo) ? 'red' : ''" *ngFor="let cap of versos | paginate: { id:'paginator-leitura', itemsPerPage: 1, currentPage: capitulo, totalItems: totalItems }">
                            {{cap.versiculo}} - {{cap.texto}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center" *ngIf="usuarioLogado">
                <div class="col-md-4 mt-4">
                    <button type="button" class="btn" [ngClass]="(capituloLido) ? 'btn-success' : 'btn-primary'" [disabled]="capituloLido" (click)="marcarCapituloLido()"><i class="fa fa-check"></i> {{labelBotaoCapituloLido}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-wrapper text-center">
                        <ngb-pagination id="paginator-leitura" [collectionSize]="totalItems * 10" [maxSize]="7" [rotate]="true" [boundaryLinks]="true" (pageChange)="nextPage($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>