<header id="home">
  <div class="image-section">
    <div class="color-overlay"></div>
    <div class="container js-full-height">
      <div class="hero-content">
        <div class="hero-text">
          <div class="big-title">
            <h2 class="wow fadeInUp" data-wow-delay="300ms">Esperança Real</h2>

            <p class="wow fadeInUp" data-wow-delay="100ms">
              "O Semhor é meu pastor, nada me faltará!" Salmos 23:1
            </p>
          </div>
          <div class="go-down-icon">
            <a href="#" class="hidden-xs"><i class="sht sht-down-arrow-icon"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-lefts">
      <div class="hero-bottom-social">
        <ul class="social-links">
          <li class="facebook">
            <i class="sht sht-facebook-icon"></i>
            <span class="social-stats line" data-from="0" data-to="439" data-speed="4000" data-refresh-interval="20"></span>
          </li>
          <li class="twitter">
            <i class="sht sht-twitter-icon"></i>
            <span class="social-stats line" data-from="0" data-to="246" data-speed="4000"
              data-refresh-interval="20"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
