<section id="indice" class="padding-top100 padding-bottom80 testimonial-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="300ms">
          <h2 class="title wow fadeInUp" data-wow-delay="300ms">Índice</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="{{testamento.descricao}}" *ngFor="let testamento of testamentos">
            <div class="testimonials">
              <owl-carousel [options]="{items: 4, dots: true, navigation: true}" [items]="livros[testamento.id]" [carouselClasses]="['owl-theme', 'sliding']">
                <div class="item" *ngFor="let livro of livros[testamento.id]">
                  <div class="thumbnail-image">{{livro.nome}}</div>
                </div>
              </owl-carousel>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
