<section id="indice" class="padding-top100 padding-bottom80 testimonial-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="300ms">
          <h2 class="title wow fadeInUp" data-wow-delay="300ms">Índice</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>
        
              <owl-carousel-o [options]="carouselHolderComponent_.customOptions" (translated)="carouselHolderComponent_.getPassedData($event)">
                <ng-container *ngFor="let slide of slidesStore">
                  <ng-template carouselSlide [id]="slide.id">
                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
                
            </mat-step>
          </mat-horizontal-stepper>


      </div>
    </div>
  </div>
</section>
