<section id="menu_" class="menu-wrapper padding-top100">
  <div class="section-title text-center fadeInUp" data-wow-delay="300ms">
    <h2 class="title text-bg-dark fadeInUp" data-wow-delay="300ms">Menu Principal</h2>

    <p class="sub_title text-bg-dark fadeInUp" data-wow-delay="300ms">
      Selecione o item desejado
    </p>
  </div>
  <div class="main clearfix">
    <nav id="menu" class="nav">
      <ul>
        <li>
          <a pageScroll [pageScrollOffset]="-20" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#home">
            <span class="icon">
              <i aria-hidden="true" class="icon-home"></i>
            </span>
            <span>Home</span>
          </a>
        </li>
        <li>
            <a pageScroll [pageScrollOffset]="80" [pageScrollDuration]="700" [pageScrollInterruptible]="false" href="#pesquisa">
            <span class="icon">
              <i aria-hidden="true" class="icon-search"></i>
            </span>
            <span>Pesquisa</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-portfolio"></i>
            </span>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-blog"></i>
            </span>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-team"></i>
            </span>
            <span>The team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon">
              <i aria-hidden="true" class="icon-contact"></i>
            </span>
            <span>Login</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
