<div class="nav-overlay">
    <div class="tooltip color-bg">Close Menu</div>
</div>
<div class="nav-holder">
    <a class="header-logo" href="index.html"><img src="../../../../assets/img/logo2.png" alt=""></a> 

    <div class="nav-inner-wrap">
        <nav class="nav-inner sound-nav" id="menu">
            <ul>
                <li *ngFor="let item of itensMenu">
                    <a href="#" class="act-link">{{item.texto}}</a>
                </li>
               
                <!--

                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li><a href="services2.html">Services 2</a></li>
                            <li><a href="blog-single.html">Blog single</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                            <li><a href="coming-soon.html">Coming soon</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                -->
            </ul>
        </nav>
    </div>
</div>